/*
 * font-family: 'Nanum Gothic', sans-serif;
 */
* {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
}

/* TODO: 모바일 웹에서 oveflow:hidden 해도 스크롤바 생기는 이슈*/
/* REF: https://stackoverflow.com/questions/14270084/overflow-xhidden-doesnt-prevent-content-from-overflowing-in-mobile-browsers */
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.textbox {
  width: 100%;
  z-index: 1;
  line-height: 100px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Jua', sans-serif;
  letter-spacing: .1em;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-indent: .3em;
}

.title {
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-indent: .3em;
  font-family: 'Jua', sans-serif;
  letter-spacing: .2em;
  font-size: 40px;
}

/* 
 * wave retrieved from https://codepen.io/rstacruz/pen/oxJqNv
 */
.wavebox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wave {
  opacity: .8;
  position: absolute;
  top: -60vw;
  left: -25vw;
  background: #5272CE;
  width: 150vw;
  height: 150vw;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 5000ms infinite linear;
}

@media (min-width: 960px) {
  .wavesize\@m {
    top: -75vw;
    left: -10vw;
    width: 120vw;
    height: 120vw;
  }
}

.wave.-two {
  animation: drift 9000ms infinite linear;
  opacity: .1;
  background: #2E2F47;
}

.wave.-three {
  animation: drift 7000ms infinite linear;
}

.wavebox:after {
  content: '';
  display: block;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background-image: linear-gradient(red, yellow, blue);*/
  background: linear-gradient(to bottom, rgba(78,172,227,1.0), rgba(154,203,226,0.2) 50%, rgba(255,255,255,1));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/* 
 * ribbon retrieved from https://codepen.io/nxworld/pen/oLdoWb
 */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: 2;
  content: '';
  display: block;
  border: 5px solid #dc7a74;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #FF3782;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -20px;
  right: -20px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -20px;
  left: -20px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

/*
 * Clock Retrieved From https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/
 */
.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
}
